@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
    /* Light theme colors */
    --background: #e9e9e9;
    --foreground: #171717;
    --card: #dadada;
    --border: #e5e7eb;
    --primary: #335eea;
    --secondary: #5c97f6;
    --info: #0ea5e9;
    --success: #10b981;
    --warning: #ffa913;
    --danger: #f63737;
    --muted: #5e5e5e;
    --font-display: "Poppins", "sans-serif";
    --font-body: "Poppins", "sans-serif";
}


html.dark {
    /* Dark theme colors */
    --background: #0a0a0a;
    --foreground: #e9e9e9;
    --card: #171717;
    --border: #252525;
    --muted: #b5b5b5;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-info: var(--info);
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-danger: var(--danger);
    --color-border: var(--border);
    --color-muted: var(--muted);
    --font-sans: var(--font-display);
    --font-body: var(--font-body);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}

.border {
    @apply border-border rounded-md;
}